<root>
    <setting id="1">
        <movement>MOVE YOUR ASS</movement>
        <x>1.148800</x>
        <y>228.000000</y>
        <keys>4e</keys>
        <dx>1.000000</dx>
        <dy>2.000000</dy>
        <mouseDelay>33.000000</mouseDelay>
    </setting>
    <setting id="2">
        <movement>MOVE YOUR ASS</movement>
        <x>1.148800</x>
        <y>228.000000</y>
        <keys>4e</keys>
        <dx>1.000000</dx>
        <dy>2.000000</dy>
        <mouseDelay>33.000000</mouseDelay>
    </setting>
    <setting id="3">
        <movement>MOVE YOUR ASS</movement>
        <x>1.148800</x>
        <y>228.000000</y>
        <keys>4e</keys>
        <dx>1.000000</dx>
        <dy>2.000000</dy>
        <mouseDelay>33.000000</mouseDelay>
    </setting>
</root>
