<root>
    <setting id="1">
        <movement>Движение руки</movement>
        <x>0.000000</x>
        <y>0.000000</y>
        <keys>I + U + Y</keys>
        <dx>0.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>0.000000</mouseDelay>
    </setting>
    <setting id="2">
        <movement>Setting2</movement>
        <x>0.000000</x>
        <y>0.000000</y>
        <keys>J + num6</keys>
        <dx>0.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>0.000000</mouseDelay>
    </setting>
    <setting id="3">
        <movement>Setting3</movement>
        <x>0.000000</x>
        <y>0.000000</y>
        <keys>O + F</keys>
        <dx>0.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>0.000000</mouseDelay>
    </setting>
    <setting id="4">
        <movement>Setting4</movement>
        <x>0.000000</x>
        <y>0.000000</y>
        <keys>T + L</keys>
        <dx>0.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>0.000000</mouseDelay>
    </setting>
</root>
