<root>
    <setting id="1">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="2">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="3">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="4">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="5">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="6">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="7">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="8">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="9">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="10">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="11">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="12">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="13">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="14">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="15">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="16">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="17">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="18">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="19">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="20">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="21">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="22">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="23">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="24">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="25">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="26">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="27">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="28">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="29">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="30">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="31">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="32">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
    <setting id="33">
        <str>STRING</str>
        <dbl>228.600000</dbl>
        <b>0</b>
        <i>1488</i>
    </setting>
</root>
