.git/
.vs/
VS/NeiroApp/.vs/
VS/NeiroApp/Win32/
VS/NeiroApp/NeiroApp/GeneratedFiles/
VS/NeiroApp/NeiroApp/Debug/
VS/NeiroApp/NeiroApp/Release/
VS/NeiroApp/NeiroApp/NeiroApp.vcxproj.user
VS/NeiroApp/NeiroApp/Settings.xml
