<root>
    <setting id="1">
        <movement>Сжать левую руку</movement>
        <x>0.000000</x>
        <y>0.000000</y>
        <keys>A + D</keys>
        <dx>0.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>5.000000</mouseDelay>
    </setting>
    <setting id="2">
        <movement>Большой палец правой руки</movement>
        <x>0.000000</x>
        <y>0.000000</y>
        <keys>; + E + Q + B</keys>
        <dx>0.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>0.000000</mouseDelay>
    </setting>
    <setting id="3">
        <movement>Средний палец правой руки</movement>
        <x>0.000000</x>
        <y>0.000000</y>
        <keys>H + I + 8 + P + Q + U + Q + R_CLICK + L_CLICK</keys>
        <dx>0.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>0.000000</mouseDelay>
    </setting>
    <setting id="4">
        <movement>Мизинец правой руки</movement>
        <x>0.000000</x>
        <y>0.000000</y>
        <keys>G + Y + W + C + П + Й</keys>
        <dx>0.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>0.000000</mouseDelay>
    </setting>
</root>
