<root>
    <setting id="1">
        <movement>Сжать левую руку </movement>
        <x>-1.000000</x>
        <y>1.000000</y>
        <keys>B</keys>
        <dx>200.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>0.500000</mouseDelay>
    </setting>
    <setting id="2">
        <movement>Большой палец правой руки</movement>
        <x>0.000000</x>
        <y>0.000000</y>
        <keys>SPACE</keys>
        <dx>0.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>0.000000</mouseDelay>
    </setting>
    <setting id="3">
        <movement>Средний палец правой руки</movement>
        <x>0.000000</x>
        <y>0.000000</y>
        <keys>SPACE</keys>
        <dx>0.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>0.000000</mouseDelay>
    </setting>
    <setting id="4">
        <movement>Мизинец правой руки</movement>
        <x>0.000000</x>
        <y>0.000000</y>
        <keys>SPACE</keys>
        <dx>0.000000</dx>
        <dy>0.000000</dy>
        <mouseDelay>0.000000</mouseDelay>
    </setting>
</root>
